/* small devices {landscape phones, 576px and up} */

@media screen and (min-width: 576px) {
  #hairstyles ul {
    justify-content: center;
  }
}

/* Medium devices {tablets, 768px and up} */
@media screen and (min-width: 768px) {
  .sub-hero h2 {
    max-width: 550px;
    margin: 0 auto;
  }
  #contact h3 {
    max-width: 400px;
  }
  #contact form {
    width: 70% auto;
  }
}

/* ...large devices {992px and up} */
@media screen and (min-width: 992px) {
  .sub-hero {
    display: flex;
    flex-direction: row;
  }
  .sub-hero h2 {
    text-align: left;
    width: 45%;
    margin: 0px 10px;
  }
  .sub-hero img {
    width: 45%;
  }
  #pricing table {
    width: 80%;
  }
}

/* for very large devices */
@media screen and (min-width: 1200px) {
  #hairstyles {
    max-width: 90% auto;
  }
  #about {
    max-width: 80%;
  }
  #about p {
    line-height: 1.5;
  }
  #contact form {
    width: 60%;
  }
}
